---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Newt・Astroフォーム"
  description="NewtとAstroを利用した問い合わせフォームです"
>
  <div>
    <h1>Contact us</h1>
    <form id="form">
      <label for="name">
        Name
        <input id="name" name="name" />
      </label>
      <label for="email">
        Email
        <input id="email" name="email" type="email" />
      </label>
      <label for="message">
        Message
        <textarea id="message" name="message"></textarea>
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
</Layout>

<script
  is:inline
  src="https://www.google.com/recaptcha/api.js?render=6LcPR7EqAAAAANCn6i0s3cKe6miuyZJmAGO1dI4p&hl=ja"
></script>
<script>
  const form = document.getElementById("form");
  form?.addEventListener("submit", submitFormData);

  function submitFormData(event: Event) {
    event.preventDefault();
    grecaptcha.ready(() => {
      grecaptcha
        .execute("6LcPR7EqAAAAANCn6i0s3cKe6miuyZJmAGO1dI4p", {
          action: "submit",
        })
        .then(async (token) => {
          const target = event.target as typeof event.target & {
            name: { value: string };
            email: { value: string };
            message: { value: string };
          };

          const data = {
            name: target.name.value,
            email: target.email.value,
            message: target.message.value,
            googleReCaptchaToken: token,
          };

          const formData = new FormData();
          Object.entries(data).forEach(([key, value]) => {
            formData.append(key, value);
          });

          try {
            const response = await sendRequest(formData);
            if (response.ok) {
              location.href = "/thanks";
            } else {
              location.href = "/error";
            }
          } catch (err) {
            location.href = "/error";
          }
        });
    });
  }

  async function sendRequest(formData: FormData) {
    return await fetch("https://members.form.newt.so/v1/6ukQ9Wty_", {
      method: "POST",
      body: formData,
      headers: {
        Accept: "application/json",
      },
    });
  }
</script>

<style>
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }

  div {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 15px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    resize: none;
    height: 100px;
  }

  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }
</style>
