---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error" description="問い合わせの送信が失敗しました">
  <div class="Result">
    <h1>Error!</h1>
    <div>
      <a href="/contact">Back to Previous Page</a>
    </div>
  </div>
</Layout>
