---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank you" description="問い合わせの送信が成功しました">
  <div>
    <h1>Thank you!</h1>
    <div>
      <a href="/contact">Back to Previous Page</a>
    </div>
  </div>
</Layout>
